${header}
<h1>Your Todo List</h1>
<a href="/member/todo/create">Add a new task</a>
<div style="margin-bottom: 50px;"></div>
<div style="margin-bottom: 50px;">
    <h2>Tasks</h2>
    <ul>
        ${tasks.map(t => `
            <li>
                <button><a style="text-decoration: none; color: black" href="/member/todo/${t.id}/edit">Update</a></button>
                <button><a style="text-decoration: none; color: black" href="/member/todo/${t.id}/delete">Delete</a></button>
                <form style="display: inline;" action="/member/todo/${t.id}/completed" method="POST">
                    <button style="cursor: pointer;" type="submit">Completed</button>
                </form>
                ${t.task}
            </li>
            `).join("")}
    </ul>
</div>
<div>
    <h2>Completed Tasks</h2>
    <ul>
            ${completedTasks.map(t => `
                <li style="text-decoration: line-through;">${t.task}</li>
                `).join("")}
    </ul>
</div>
${footer}